@{
	ViewBag.Title = "Home";
	Layout = null; 
}
<html>
<head>
	
</head>
	<body>
		<a href="@Url.Action("PdfView")">Get PDF with view</a><br/>
		<a href="@Url.Action("PdfRazor")">Get PDF with custom razor template</a>
	</body>
</html>